@using System.Web.Mvc.Html
@using Management.Models
@model StockUpdatePriceVM
<div class="box" id="StockInfoBox">
    <div class="box-header">
        <div class="box-name">
            <i class="fa fa-edit"></i>
            <span>@ViewBag.Title</span>
        </div>
        <div class="box-icons">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="expand-link">
                <i class="fa fa-expand"></i>
            </a>
            <a class="close-link" id="aClose">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="no-move"></div>
    </div>
    <div class="box-content" style="position: relative">
        <form class="form-horizontal" id="stockUpdatePriceForm">
            <div class="form-group">
                @Html.HiddenFor(o => o.Id, new { @id = "hiddenId" })
                @Html.HiddenFor(o => o.PricingType, new { id = "hiddenPricingType" })
                <input type="hidden" id="hiddenOldPrice" />
                @{
                    if (Model.PricingType == (int)Enums.PricingType.Fixed)
                    {
                    @Html.LabelFor(o => o.Price, "价格", new { @class = "col-sm-3 control-label", @for = "txtPrice" })
                    }
                    else
                    {
                    @Html.LabelFor(o => o.Price, "升贴水", new { @class = "col-sm-3 control-label", @for = "txtPrice" })
                    }
                }

                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-info-circle"></i>
                        </span>
                        @Html.TextBoxFor(o => o.Price, new { @class = "form-control", id = "txtPrice" })
                        
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-label-left" id="stockUpdatePriceBtn">
                        <span><i class="fa fa-clock-o"></i></span>确定
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(function () {
        $("#hiddenOldPrice").val($("#txtPrice").val());
        var type = $("#hiddenPricingType").val();
        var emptyStr = "";
        var regexp;
        var regStr = "";
        if (type == 1) {
            //升贴水
            emptyStr = "升贴水不能为空";
            regexp = /^(\-)?\d+(\.\d+)?$/;
            regStr = "请输入正确的升贴水";
        }
        else {
            //价格
            emptyStr = "价格不能为空";
            regexp = /^\d+(\.\d+)?$/;
            regStr = "请输入正确的价格";
        }

        $('#stockUpdatePriceForm').bootstrapValidator({
            message: "输入有误",
            live: 'enabled',
            fields: {
                Price: {
                    trigger: "blur",
                    validators: {
                        notEmpty: {
                            message: emptyStr
                        },
                        regexp: {
                            regexp: regexp,
                            message: regStr
                        }
                    }
                }
            },
            submitHandler: function (validator, form, submitButton) {
                $.ajax({
                    url: "/Stock/UpdatePrice",
                    data: form.serialize(),
                    dataType: 'json',
                    type: 'POST',
                    success: function (data) {
                        $.procAjaxData(data, function () {
                            var oldPrice = $("#hiddenOldPrice").val();
                            if (type == 1) {
                                demo.server.backend_UpdatePremium($("#hiddenId").val(), $("#txtPrice").val(), oldPrice);
                            }
                            else {
                                demo.server.backend_UpdatePrice($("#hiddenId").val(), $("#txtPrice").val(), oldPrice);
                            }
                            $('#StockInfoBox').remove();
                            //var dt = $('#StockTable').DataTable();
                            //dt.ajax.reload();
                        }, function () {
                            return;
                        });
                    }
                });
            }
        });

        WinMove();
    });
</script>
